<div style="width: 182px; height: 80px; background-color: #1b1a87;">
  <img class="logo_img" src="https://dl.dropboxusercontent.com/u/1120779/tmp/logo.svg" style="width: 80px; height: 80px; float: left; margin-left: 10px">
  <span style="font-size: 28px; font-weight: normal; color: white; line-height: 80px; margin-left: 10px">dHCP</span>
</div>
